.accordionExerciseRow {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  margin: 4px 0;
  border-bottom: 1px solid #30363d;
  border-radius: 8px;
  background: transparent;
  color: #c9d1d9;
  cursor: pointer;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), background 0.3s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.3s;

  &:hover, &:focus {
    background: rgba(35, 134, 54, 0.07);
    box-shadow: 0 0 12px 2px #23863655, 0 1.5px 0 #23863633;
    color: #e6edf3;
  }

  &:last-child {
    border-bottom: none;
  }
}

.imageContainer {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background-color: #222c36;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  overflow: hidden;
}

.actualImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholderText {
  font-size: 0.8em;
  color: #555;
  text-align: center;
}

.exerciseTitle {
  font-size: 1em;
  font-weight: 500;
  color: #e6edf3;
}

.exerciseRepsSupportingText {
  color: #8b949e;
  font-size: 0.9em;
}

.checkboxRoot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #8b949e;
  background-color: #0D1117;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 1rem;
  transition: border-color 0.2s, background 0.2s;
  position: relative;
  padding: 10px;

  &:hover {
    border-color: #1a6429;
  }

  &[data-state='checked'] {
    background-color: transparent;
    border-color: rgb(255 215 0);
    border-width: 2px;
  }
}

.checkboxIndicator {
  color: #fff;
  svg {
    width: 24px;
    height: 24px;
  }
}

.checkboxContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.specialContainer {
  display: flex;
  gap: 8px;
}

.specialInstructions {
  font-size: 12px;
  font-weight: 400;
}

.specialSet {
  font-size: 12px;
  font-weight: 400;
}

.separator {
  width: 1px;
  height: 55px;
  background-color: rgb(255 215 0);;
}